@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Freckle+Face&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// .body {
//   display: relative;
// }

body,
html {
  height: 100vh;
  display: relative;
  overflow: hidden;
}

.main-container {
  // display: relative;
  // height: 100%;
  overflow: hidden;
  // display: flex;
}
.navbar-header {
  font-family: "Freckle Face", "cursive" !important;
  font-weight: 900 !important;
  color: #ff7070 !important;
  font-size: 1.5rem !important;
  padding-left: 0.8rem !important;
  text-align: left !important;
}
.cuisines-header {
  margin-top: 1rem;
  font-family: "Freckle Face", "cursive";
  color: #f9eb83;
  font-size: 1.3rem;
  text-align: center;
}

.view-amendments-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1rem;
}
body {
  background-color: white;
}
.background-layout {
  // position: absolute;
  // min-width: 160%;
  // width: 180%;
  width: 118em;
}

.login-credentials-display {
  padding: 5px;
}
.navBar-container {
  position: absolute;
  background-color: rgb(184, 63, 63, 0.8);
  // min-height: -webkit-fill-available;
  height: 100vh !important;
  // height: 100%;
  width: 15rem;
  padding: 20px 5px 20px;
  z-index: 2;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.reset-filter-btn {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.no-amendments-to-display {
  // margin-top: 5rem;
  margin-left: 15rem;
}

// .fixed-container-for-hawker-display {
//   position: relative;
//   // left: 10rem;
//   height: 100%;
//   width: 100%;
//   background-color: black;
//   padding: 0;
//   overflow: none;
// }
.hawkerDisplay-container {
  // display: inline-block;
  position: absolute;
  cursor: url("icons/walking-man-cursor.svg"), move !important;
  background-color: rgb(255, 255, 255);
  // min-height: -webkit-fill-available;
  // width: 100%;
  z-index: 1;
  // margin-left: 10rem;
  // background-image: url(./icons/tiles-2.svg);
}
.review-suggested-amendments-container {
  // margin-top: 40px;
  padding-left: 15rem;
  padding-top: 20px;
  padding-bottom: 10px;
}
.topRowSection1Container {
  position: absolute;
  left: 1500px;
  top: 450px;
  z-index: 5;
  width: 1040px;
  transform: rotate((30deg));
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.middleRowsection1Container {
  position: absolute;
  left: 620px;
  top: 365px;
  z-index: 5;
  width: 400px;
  transform: rotate((30deg));
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.middleRowsection2Container {
  position: absolute;
  left: 955px;
  top: 365px;
  z-index: 5;
  width: 490px;
  transform: rotate((-30deg));
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.bottomRowSection1Container {
  position: absolute;
  left: 1130px;
  top: 1230px;
  // left: 67%;
  // top: 68%;
  z-index: 15;
  width: 630px;
  // width: 32%;
  transform: rotate((30deg));
  display: flex;
  justify-content: flex-end;
}
.bottomRowSection2Container {
  position: absolute;
  // left: 23%;
  // top: 46%;
  left: 285px;
  top: 800px;
  z-index: 15;
  width: 840px;
  // width: 43%;
  transform: rotate((30deg));
  display: flex;
  justify-content: flex-end;
}
.toilet-container {
  // width: 120px;
  height: 100px;
  transform: rotate(-30deg) skewX(30deg);
  display: inline-block;
  border-width: solid 5px black;
  background-color: rgb(193, 193, 193);
  position: absolute;
  top: 400px;
  left: 380px;
  font-family: Roboto;
  overflow: hidden;
  padding: 0px 10px 0px;
}
.wet-market {
  display: inline-block;
  border-width: solid 5px black;
  background-color: rgb(193, 193, 193);
  font-size: 60px;
  height: 150px;
  position: absolute;
  top: 150px;
  left: 700px;
  // transform: rotate(-30deg);
  transform: rotate(-30deg) skewX(30deg);
  padding: 0px 10px 0px;
  font-family: Roboto, sans-serif;
  width: 600px;
  text-align: center;
}

.car-container {
  display: inline-block;
  width: 120px;
  position: absolute;
  top: 540px;
  left: 120px;
  z-index: 3;
  transform: rotate(-30deg) skewX(40deg);
}
.stalls {
  width: 80px;
  transform: rotate((-30deg));
  display: inline-block;
  border-width: 0px;
  background-color: transparent;
  margin: 0px !important;
  padding: 0px !important;
  cursor: help !important;
}
.middleRowSect2Stalls {
  width: 80px;
  transform: rotate((30deg));
  display: inline-block;
  border-width: 0px;
  background-color: transparent;
  margin: 0px !important;
  padding: 0px !important;
  cursor: help !important;
}

.highlight {
  border: 3px solid rgb(0, 170, 248);
}

.CategoriesDivs:hover {
  // cursor: pointer;
  font-weight: 600;
}
.CategoriesDivs {
  display: block;
}
.removeButtonStyle {
  background-color: transparent;
  border-width: 0px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navBarButtons {
  margin-bottom: 0.5rem;
}

// .toilet {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

.amendment-rows:nth-child(even) {
  background-color: rgb(184, 63, 63, 0.2);
}
.amendment-rows:nth-child(odd) {
  background-color: white;
}
.review-amendments-header {
  font-weight: 800;
  font-size: 1.2rem;
}

.amendment-table-headers {
  font-weight: 600;
}
